
.hr {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  margin-bottom: 0em;
  padding: 2em 0;
}
.hr:after, .hr:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 50%;
  left: 0;
}

.hr:after {
  transition: opacity 0.3s ease, -webkit-animation 0.3s ease;
  transition: opacity 0.3s ease, animation 0.3s ease;
  transition: opacity 0.3s ease, animation 0.3s ease, -webkit-animation 0.3s ease;
  background: linear-gradient(to right, #62efab 5%, #F2EA7D 15%, #F2EA7D 25%, #FF8797 35%, #FF8797 45%, #e1a4f4 55%, #e1a4f4 65%, #82fff4 75%, #82fff4 85%, #62efab 95%);
  background-size: 200%;
  background-position: 0%;
  -webkit-animation: bar 15s linear infinite;
          animation: bar 15s linear infinite;
}
@-webkit-keyframes bar {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}
@keyframes bar {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

.hr.anim:before {
  background: linear-gradient(90deg, #FFE6E4 0%, #FFE6E4 5%, transparent 5%, transparent 10%, #FFE6E4 10%, #FFE6E4 15%, transparent 15%, transparent 20%, #FFE6E4 20%, #FFE6E4 25%, transparent 25%, transparent 30%, #FFE6E4 30%, #FFE6E4 35%, transparent 35%, transparent 40%, #FFE6E4 40%, #FFE6E4 45%, transparent 45%, transparent 50%, #FFE6E4 50%, #FFE6E4 55%, transparent 55%, transparent 60%, #FFE6E4 60%, #FFE6E4 65%, transparent 65%, transparent 70%, #FFE6E4 70%, #FFE6E4 75%, transparent 75%, transparent 80%, #FFE6E4 80%, #FFE6E4 85%, transparent 85%, transparent 90%, #FFE6E4 90%, #FFE6E4 95%, transparent 95%, transparent 100%);
  background-size: 150px;
  background-position: center;
  z-index: 1;
  -webkit-animation: bar 120s linear infinite;
          animation: bar 120s linear infinite;
}
.hr.anim:hover:before {
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}
.hr.anim:hover:after {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

